<nav class="flex flex-col lg:flex-row items-center justify-between pt-6 gap-4 text-xs" aria-label="pagination">
    <section class="flex justify-around items-center gap-1 font-semibold">
        <span>{{ description }}</span>
        <div class="flex justify-around items-center gap-1">
            Show
            <div class="w-14 h-8">
                <app-dropdown
                    [name]="'pageSizeList'"
                    [options]="pageSizes"
                    (selectedValueChange)="onPageSizeChange($event)">
                </app-dropdown>
            </div>
            entries
        </div>
    </section>
    <ul class="inline-flex -space-x-px h-8">
        <li>
            <button aria-label="Go To First Page" [attr.aria-disabled]="currentPage === 1" [disabled]="currentPage === 1"
                class="rounded-l-lg"
                [ngClass]="buttonPageClasses"
                (click)="onGoTo(1)">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                </svg>
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                </svg>
                <span class="ml-1 hidden lg:block">First</span>
            </button>
        </li>
        <li>
            <button aria-label="Go To Previous Page" [attr.aria-disabled]="currentPage === 1" [disabled]="currentPage === 1"
                [ngClass]="buttonPageClasses"
                (click)="onGoTo(currentPage - 1)">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                </svg>
                <span class="ml-1 hidden lg:block">Prev</span>
            </button>
        </li>
        <li *ngFor="let page of visiblePages">
            <button [attr.aria-label]="page === currentPage ? 'Current Page, Page ' + page : 'Go to Page ' + page" [attr.aria-disabled]="currentPage === page" [disabled]="currentPage === page"
                [ngClass]="buttonPageClasses"
                [class.current]="page === currentPage"
                (click)="onGoTo(page)">
                {{ page }}
            </button>
        </li>
        <li>
            <button aria-label="Go To Next Page" [attr.aria-disabled]="currentPage === totalPages" [disabled]="currentPage === totalPages"
                [ngClass]="buttonPageClasses"
                (click)="onGoTo(currentPage + 1)">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ml-1 hidden lg:block">Next</span>
            </button>
        </li>
        <li>
            <button aria-label="Go To Last Page" [attr.aria-disabled]="currentPage === totalPages" [disabled]="currentPage === totalPages"
                class="rounded-r-lg"
                [ngClass]="buttonPageClasses"
                (click)="onGoTo(totalPages)">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ml-1 hidden lg:block">Last</span>
            </button>
        </li>
    </ul>
</nav>