<main class="w-screen h-screen flex items-center place-content-center">
    <section class="w-3/5 h-3/5 bg-gradient-to-r from-blue-500 to-stone-200 flex flex-row place-content-center rounded-3xl">
        <div class="bg-transparent w-6/12 h-full">
            <p><span>Aurora Platform</span></p>
            <p>Welcome to administration site of Aurora products.</p>
            <p>Please, enter your username and password to log in to.</p>
        </div>
        <form novalidate class="bg-transparent w-6/12 h-full">
            <div>
                <input type="text" id="username" class="w-full rounded" formControlName="username" placeholder="Enter username" maxlength="50">
            </div>
            <div>
                <input type="password" id="password" formControlName="password" placeholder="Enter password" maxlength="30">
            </div>
            <div>
                <app-button [type]="'submit'" [colorStyle]="'success'">Log In</app-button>
            </div>
        </form>
    </section>
</main>
