<div id="addRoleDetailModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="overflow-x-hidden overflow-y-auto w-full flex items-center justify-center max-h-full">
    <div class="relative w-full max-w-2xl md:inset-0 max-h-full">
        <div class="relative bg-card font-montserrat text-label rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b border-zinc-100 rounded-t">
                <h3 class="text-xl font-medium">
                    {{ title }}
                </h3>
                <button type="button" 
                    class="text-slate-200 bg-transparent hover:bg-slate-700 hover:text-slate-50 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
                    data-modal-hide="staticModal"
                    (click)="onClose()">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form [formGroup]="form" novalidate class="space-y-0 text-black" (ngSubmit)="onSave($event)">
                <!-- Modal body -->
                <div class="p-4 space-y-6">
                    <div class="grid grid-cols-6 gap-4">
                        <div class="col-span-6">
                            <label for="application" class="block mb-2 text-sm text-slate-50">Application</label>
                            <input type="text" name="application" id="application" formControlName="application" class="text-box">
                        </div>
                        <div class="col-span-6 md:col-span-3">
                            <label for="name" class="block mb-2 text-sm text-slate-50">Name</label>
                            <input type="text" name="name" id="name" formControlName="name" class="text-box">
                        </div>
                        <div class="col-span-6 md:col-span-3">
                            <label for="description" class="block mb-2 text-sm text-slate-50">Description</label>
                            <input type="text" name="description" id="description" formControlName="description" class="text-box">
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex justify-end items-center p-4 space-x-2 border-t border-zinc-100 rounded-b">
                    <app-main-button [type]="'submit'" [title]="'Save New Role'" [color]="'success'" [loading]="status === 'loading'">
                        Save
                    </app-main-button>
                </div>
            </form>
        </div>
    </div>
</div>