<app-header></app-header>
<section class="px-8">
    <h1 class="text-2xl font-bold pb-8">Roles Management</h1>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left">
            <thead class="bg-slate-600 text-zinc-100">
                <tr>
                    <th scope="col" class="p-2 text-center">ID</th>
                    <th scope="col" class="p-2">Name</th>
                    <th scope="col" class="p-2">Description</th>
                    <th scope="col" class="p-2">Status</th>
                    <th scope="col" class="p-2 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of collection.items" class="border-b border-slate-600 hover:bg-slate-300">
                    <td class="p-2 text-center">{{ role.roleId }}</td>
                    <td class="p-2">{{ role.name }}</td>
                    <td class="p-2">{{ role.description }}</td>
                    <td class="p-2">
                        <div *ngIf="role.isActive" class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Active
                        </div>
                        <div *ngIf="!role.isActive" class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Inactive
                        </div>
                    </td>
                    <td class="p-2 text-center">Menu actions</td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-pagination 
        [description]="collection.description" 
        [currentPage]="collection.currentPage"
        [totalPages]="collection.totalPages" 
        (goTo)="onGoTo($event)" 
        (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
</section>