<app-header>
    <app-page-title [title]="'Roles Management'"></app-page-title>
    <div class="flex flex-col md:flex-row items-center justify-between pb-4 space-y-3 md:space-y-0 md:space-x-16">
        <div class="w-full md:w-2/5">
            <section class="flex items-center text-black">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                    </div>
                    <input type="text" id="simple-search" placeholder="Search" maxlength="100" class="text-box pl-10" (keydown.enter)="onSearch($event)">
                </div>
            </section>
        </div>
        <div class="w-full md:w-48 justify-end">
            <app-main-button [title]="'Add role'" (click)="onAddNewRole()" class="text-sm">
                Add role
            </app-main-button>
        </div>
    </div>
    <div class="overflow-x-auto">
        <table class="w-full text-sm text-left">
            <thead class="bg-slate-600 text-zinc-100">
                <tr>
                    <th scope="col" class="p-2 text-center">ID</th>
                    <th scope="col" class="p-2">Name</th>
                    <th scope="col" class="p-2">Description</th>
                    <th scope="col" class="p-2">Status</th>
                    <th scope="col" class="p-2 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="collection.items.length === 0" class="border-b border-slate-600">
                    <td class="p-4 text-center" colspan="5">
                        There are no roles to display.
                    </td>
                </tr>
                <tr *ngFor="let role of collection.items" class="border-b border-slate-600 hover:bg-slate-300">
                    <td class="p-2 text-center">{{ role.roleId }}</td>
                    <td class="p-2">{{ role.name }}</td>
                    <td class="p-2">{{ role.description }}</td>
                    <td class="p-2">
                        <div *ngIf="role.isActive" class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Active
                        </div>
                        <div *ngIf="!role.isActive" class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Inactive
                        </div>
                    </td>
                    <td class="p-2 text-center">
                        <button [cdkMenuTriggerFor]="actionsMenu" class="w-8 h-8 inline-flex justify-center items-center hover:bg-sky-500 hover:text-zinc-100 rounded-xl focus:ring-1 focus:outline-none focus:border-sky-700 focus:ring-sky-700">
                            <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                        </button>

                        <ng-template #actionsMenu>
                            <div class="w-24 bg-sky-500 font-montserrat text-zinc-100 text-xs border border-neutral-200 divide-y divide-neutral-200 rounded-lg shadow-sm shadow-neutral-200" cdkMenu>
                                <ul class="py-2">
                                    <li *ngIf="role.isActive">
                                        <button class="block w-full text-left px-4 py-2 hover:bg-sky-700 hover:font-bold" (click)="onEditRole(role.roleId)" cdkMenuItem>Edit</button>
                                    </li>
                                    <li *ngIf="!role.isActive">
                                        <button class="block w-full text-left px-4 py-2 hover:bg-sky-700 hover:font-bold" cdkMenuItem>Activate</button>
                                    </li>
                                    <li *ngIf="role.isActive">
                                        <button class="block w-full text-left px-4 py-2 hover:bg-sky-700 hover:font-bold" cdkMenuItem>Deactivate</button>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-pagination 
        [description]="collection.description" 
        [currentPage]="collection.currentPage"
        [totalPages]="collection.totalPages" 
        (goTo)="onGoTo($event)" 
        (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
</app-header>
