<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen bg-sky-700 border-r border-neutral-200 pt-16 transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full font-quicksand font-medium pb-4 overflow-y-auto divide-y divide-neutral-200">
        <ul class="space-y-2 py-4">
            <li *ngFor="let item of sidebarMenuItems" class="text-zinc-100 hover:text-zinc-900 hover:font-bold hover:bg-sky-500 transition duration-75">
                <a [routerLink]="item.routerLink" routerLinkActive="activeLink" class="flex py-2 px-5 group">
                    <fa-icon [icon]="item.icon" class="w-5 h-5 text-center transition duration-75"></fa-icon>
                    <span class="ml-2 whitespace-nowrap">{{ item.title }}</span>
                 </a>
            </li>
        </ul>
        <ul class="space-y-2 py-4">
          <li class="text-zinc-100 hover:text-zinc-900 hover:font-bold hover:bg-sky-500 transition duration-75">
             <a [routerLink]="'/change-password'" class="flex py-2 px-5 group">
                <fa-icon [icon]="faKey" class="w-5 h-5 text-center transition duration-75"></fa-icon>
                <span class="ml-2 whitespace-nowrap">Change password</span>
             </a>
          </li>
          <li class="text-zinc-100 hover:text-zinc-900 hover:font-bold hover:bg-sky-500 transition duration-75">
            <button (click)="doLogout()" class="flex py-2 px-5 group">
                <fa-icon [icon]="faRightFromBracket" class="w-5 h-5 text-center transition duration-75"></fa-icon>
                <span class="ml-2 whitespace-nowrap">Log out</span>
            </button>
          </li>
       </ul>
    </div>
</aside>
