<ng-container *ngIf="user$ | async as user">
  <nav class="fixed top-0 z-50 w-full bg-sky-700 border-b border-neutral-200 font-montserrat">
    <div class="p-3 lg:px-5">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start text-white">
          <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex sm:hidden items-center text-sm p-2 rounded-lg hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-gray-200">
              <span class="sr-only">Open sidebar</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                 <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
              </svg>
           </button>
          <a [routerLink]="'/'" class="flex ml-2 sm:ml-0">
            <img src="/assets/images/aurorasoft2.png" class="h-8 mr-3" alt="Aurora Soft Logo" />
            <span class="self-center text-xl sm:text-2xl font-semibold whitespace-nowrap">Aurora Platform</span>
          </a>
        </div>

        <div class="flex items-center text-white">
          <div class="flex items-center ml-3 sm:ml-0">
            <button type="button"
              class="flex text-sm items-center gap-2 rounded-md" 
              aria-expanded="false" 
              data-dropdown-toggle="dropdown-user"
              [title]="user?.description"
              (click)="doShowAndHideUserMenu()"
              cdkOverlayOrigin
              #menuOverlay="cdkOverlayOrigin">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
              <span class="font-medium">{{ user?.firstName }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menuOverlay"
    [cdkConnectedOverlayOpen]="isOpenUserMenu"
    (overlayOutsideClick)="isOpenUserMenu = !isOpenUserMenu">
        <div
          class="z-50 mt-0.5 text-base list-none bg-sky-600 border border-neutral-200 font-montserrat text-zinc-100 divide-y divide-neutral-200 rounded-lg shadow-sm shadow-neutral-200"
          id="user-dropdown">
          <div class="px-4 py-3">
            <span class="block text-sm font-semibold">{{ user?.description }}</span>
            <span class="block text-sm text-slate-100 pt-0.5">{{ user?.email }}</span>
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li *ngFor="let item of userMenuItems">
              <a [routerLink]="item.routerLink"
                class="block px-4 py-2 text-sm hover:bg-sky-700">{{ item.title }}</a>
            </li>
          </ul>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <button (click)="doLogout()" class="w-full block px-4 py-2 text-sm text-left hover:bg-sky-700">Log out</button>
            </li>
          </ul>
        </div>
  </ng-template>
</ng-container>
